
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
  body
  .container
    h1 SWE 600 Advanced Software Engg Midterm.
    h4 Social Logins Portal.
    a(href="/") Go home
    br
    br
    a(href="/auth/facebook") Login via Facebook
    br
    a(href="/auth/twitter") Login via Twitter
    br
    a(href="/auth/github") Login via Github
    br
    a(href="/auth/google") Login via Google
    br
    a(href="/auth/linkedin") Login via Linkedin
    br
    a(href="/auth/instagram") Login via Instagram

  script(src='http://code.jquery.com/jquery.js')
  script(src='js/bootstrap.min.js')
